html, body 
h1{color: blue;}
h2{color: green;
  margin: 2em;
  font-size: 1.5em;
 
  }   
h3{color: pink;
  margin: 2em;}
p {
  font-size: small;
  font-family: Arial;
  color: black;
}


  height: 100%;
  width: 100%;
}
